

.hit-form-wrapper {
    height: 100%;
    max-width: 600px;
    flex-direction: column;
    margin-left: auto;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 5px 14px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 14px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 14px 4px rgba(0, 0, 0, 0.2);
}
#hit-form {
    width: 80%;
    height: 90%;
    margin: auto;
}
#hit-form h2 {
    color: var(--color-bright-red);
    font-size: 30px;
}

#hit-form .form-content-wrapper {
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#hit-form .input-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

#hit-form .input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

#hit-form .buttons-line, #hit-form .checkbox-line {
    width: 100%;
    height: 30px;
    background-color: var(--color-darker);
    border-radius: 5px;
    position: relative;
    z-index: 0;

}

#hit-form .checkbox-line .check-point:last-child {
    border-radius: 0 5px 5px 0;
}

#hit-form .checkbox-line .check-point:first-child {
    border-radius: 5px 0  0 5px;
}

#hit-form .buttons-line .check-point:last-child {
    border-radius: 0 5px 5px 0;
}

#hit-form .buttons-line .check-point:first-child {
    border-radius: 5px 0  0 5px;
}
#hit-form .check-point a {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#hit-form .check-point {
    width: calc(100%/11);
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.1s ease-in-out;
    background-color: var(--color-darker);
    z-index: 2;
}
#hit-form .input-wrapper.radius .check-point {
    width: calc(100%/5);
}

#hit-form .check-point:hover {
    transform: scaleY(1.1);
    z-index: 100;
}
#hit-form .check-point>input[type="checkbox"].x-checkbox:hover {
    cursor: pointer;
}

#hit-form .check-point>input[type="checkbox"].x-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#hit-form .check-point:has(> input[type="checkbox"].x-checkbox:checked) {
    background-color: var(--color-bright-red);
}

#hit-form .check-point label {
    display: block;
    height: min-content;
    width: 100%;
    text-align: center;
}


#hit-form .input-wrapper > div {
    width: 100%;
    display: flex;
}

#hit-form .input-wrapper > button {
    width: 100%;
    border: 1px solid var(--color-bright-red);
    background-color: transparent;
    color: var(--color-bright-red);
    font-family: inherit;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

#hit-form .input-wrapper > button:hover {

    background-color: var(--color-bright-red);
    color: var(--color-light);
    cursor: pointer;
}


#hit-form .input-wrapper > div > input[type="text"]{
    text-align: left;
    padding: 0 10px;
    width: 100%;
    height: 30px;
    color: var(--color-light);
    background-color: var(--color-darker);
    border: none;
    border-bottom: 1px solid var(--color-gray);
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

#hit-form .input-wrapper > div > input[type="text"]:hover {
    border-bottom: 1px solid var(--color-bright-red);
    cursor: pointer;
}

#hit-form .input-wrapper > div > input[type="text"]:focus {
    border-bottom: 1px solid var(--color-light);
    outline: none;
}

#hit-form .input-wrapper > div > select {
    width: 100%;
    text-align: left;
    padding: 0 10px;
    height: 30px;
    color: var(--color-light);
    background-color: var(--color-darker);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#hit-form .input-wrapper .r-value {
    margin-left: 10px;
    font-weight: 800;
    color: var(--color-bright-red);
}

/* Контейнер */
.ui-selectoneradio {
    display: flex;
    gap: 12px;
}

/* Сами radio — кружок */
.ui-selectoneradio .ui-radiobutton .ui-radiobutton-box {
    background: white;      /* белый фон */
    border: 2px solid white !important; /* белая окантовка */
}

/* При наведении */
.ui-selectoneradio .ui-radiobutton .ui-radiobutton-box:hover {
    border-color: var(--color-bright-red) !important;
}

/* Внутренняя точка при выборе */
.ui-selectoneradio .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    background: var(--color-bright-red) !important; /* красная точка */
    color: var(--color-bright-red) !important;
    background-color: var(--color-bright-red) !important;;
}
