

.line-container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 130px;
}
.line-container .ui-analog-clock {
    margin-right: 50px;
    height:100%;
    aspect-ratio: 1/1;
}

.right-block {
    margin-left: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-block .ui-widget-header:first-child {
    font-size: 40px;
    font-weight: 600;
}

.right-block .ui-widget-header {
    padding: 0;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    font-weight: 400;
    background: none;
    color: var(--color-light);
    border: none;
}
.right-block .main-page-button {
    width: 400px;
    height: 40px;
    margin-top: 100px;
    background-color: transparent;
    border: 2px solid var(--color-bright-red);
    border-radius: 5px;
    color: var(--color-bright-red);
    transition: 0.2s ease-in-out;
}
.right-block .main-page-button:hover {
    background-color: var(--color-bright-red);
    color: var(--color-light);
    border: 2px solid var(--color-bright-red);
}