:root {
    --color-dark: #1A1A1D;
    --color-darker: #0d0d0f;
    --color-gray: #4E4E50;
    --color-dark-red: #6F2232;
    --color-red: #950740;
    --color-bright-red: #C3073F;
    --color-light: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Courier New", Courier, monospace !important;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-light);
    background-color: var(--color-dark);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.main-container {
    width: 90%;
    margin: 0 5%;
    padding-bottom: 10vh;
}

.main-container .top-content-line > td {
    width: 50%;
    height: calc(100vh - 200px);
    padding-bottom: 100px;
}

.back-button {
    margin: 0;
    padding: 0;
    color: var(--color-bright-red);
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(13, 13, 15, 0);
    transition: 0.1s ease-in-out;
}
.back-button:hover {
    border-bottom: 2px solid var(--color-bright-red);
}


